<!DOCTYPE html>
<html lang="en" class="leading-tight">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./assets/css/main.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <title>Delightful Web Templates</title>
  </head>

  <body class="overflow-x-hidden font-sans font-light">
    <section
      class="homescreen m-0 flex flex-col  justify-around bg-gray-800 h-screen text-gray-100 "
    >
      <nav class="flex justify-between">
        <p class="text-xl py-8 px-8 uppercase md:px-48">
          Delight<span class="text-teal-400 font-bold">ful</span>
        </p>
        <ul
          class="flex justify-evenly w-full text-xl py-8 px-0 xl:px-48 xl:w-1/2 "
        >
          <li>
            <a href="#">HOME</a>
          </li>
          <li class="text-gray-400 hover:text-teal-400">
            <a href="#about">ABOUT</a>
          </li>
          <li class="text-gray-400 hover:text-teal-400">
            <a href="#contact">CONTACT</a>
          </li>
        </ul>
      </nav>

      <h1 class=" text-3xl my-auto mx-auto font-light  md:mx-48 lg:text-6xl">
        We made the web <br />
        <span class="text-teal-400 font-medium">A better place.</span>
      </h1>
    </section>
    <section class="bg-gray-100" id="about">
      <div class="flex justify-center">
        <object
          type="image/svg+xml"
          data="./assets/img/planet.svg"
          class="-ml-1 hidden lg:flex"
        >
          Your browser does not support SVG
        </object>
        <h2
          class="text-gray-800  flex-1 self-center text-center text-3xl pt-8 lg:pt-0 lg:text-5xl"
        >
          Lorem <span class="font-bold">ipsum dolor</span> <br />
          sit amet consectetur.
        </h2>
      </div>
      <div class="flex justify-around items-center">
        <div
          class="flex flex-col text-gray-100 items-center rounded mx-8 bg-gray-800 shadow-lg mt-24 border-r-8 border-red-300 lg:w-1/4 lg:mx-0"
        >
          <div
            class="rounded-full flex justify-center h-24 w-24 border-4 border-red-300 -mt-12 bg-gray-800"
          >
            <p class="text-5xl  text-red-300 text-center self-center">
              X
            </p>
          </div>
          <h3 class="text-center text-gray-200 p-4 font-bold text-lg">
            Lorem, ipsum dolor.
          </h3>
          <p class="px-8 pb-8  text-gray-200 text-center font-normal">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sunt
            voluptatum neque facere, delectus at temporibus id, dolorem sed,
            quos aliquam sapiente. Sed nostrum quia est libero esse, unde
            doloribus?
          </p>
        </div>

        <object
          type="image/svg+xml"
          data="./assets/img/paint.svg"
          class="mt-16 -mr-64 w-1/2 hidden lg:flex "
        >
          Your browser does not support SVG
        </object>
      </div>

      <div
        class="flex justify-evenly flex-wrap pb-24 mt-8 items-center lg:flex-no-wrap lg:mt-24"
      >
        <object
          type="image/svg+xml"
          data="./assets/img/success.svg"
          class="mt-24 -ml-64 w-1/2 hidden lg:flex "
        >
          Your browser does not support SVG
        </object>
        <div
          class="flex flex-col items-center rounded mx-8  bg-gray-800 shadow-lg mt-24 border-r-8 border-teal-300 lg:w-1/4 lg:mx-0 "
        >
          <div
            class="rounded-full flex justify-center h-24 w-24 border-4 border-teal-300 -mt-12 bg-gray-800"
          >
            <p class="text-5xl font-bold text-teal-300 text-center self-center">
              ✓
            </p>
          </div>
          <h3 class="text-center text-gray-200 p-4 font-bold text-lg">
            Lorem, ipsum dolor.
          </h3>
          <p class="px-8 pb-8  text-gray-200 text-center font-normal">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sunt
            voluptatum neque facere, delectus at temporibus id, dolorem sed,
            quos aliquam sapiente. Sed nostrum quia est libero esse, unde
            doloribus?
          </p>
        </div>
      </div>
    </section>

    <section
      class="flex-col text-center justify-center items-center bg-gray-800 text-gray-100 py-24"
    >
      <p class="text-3xl   lg:text-5xl">
        <span class="text-6xl"></span>“Sed nostrum quia est libero esse,
        <br />
        <span class="font-semibold text-teal-400">Unde doloribus</span> ?”
      </p>
      <p>Jonh DOE - CEO</p>
    </section>
    <section id="contact" class="bg-gray-100 py-24">
      <div class="flex justify-evenly">
        <object
          type="image/svg+xml"
          data="./assets/img/contact.svg"
          class="w-1/2 hidden lg:flex "
        >
          Your browser does not support SVG
        </object>

        <div class="flex flex-col items-center flex-1 ">
          <h1 class="text-5xl text-center">
            Fill the form, <br />
            <span class="font-bold">It's easy.</span>
          </h1>
          <form action="" class="flex flex-col pt-4 ">
            <label for="name" class="text-lg">Name</label>
            <input
              type="text"
              name="name"
              id=""
              class="border-b-2 border-gray-800 bg-transparent p-2 focus:border-teal-400  focus:outline-none  "
            />
            <label for="email" class="text-lg pt-6">E-mail</label>
            <input
              type="email"
              name="email"
              id=""
              class="border-b-2 border-gray-800 bg-transparent p-2 focus:border-teal-400  focus:outline-none  "
            />
            <label for="message" class="text-lg pt-6">Message</label>
            <textarea
              name="message"
              id=""
              cols="30"
              rows="5"
              class="border-b-2 border-gray-800 bg-transparent p-2 focus:border-teal-400 focus:outline-none  "
            ></textarea>
            <button
              type="submit"
              class=" py-2 my-4 rounded shadow text-gray-100 text-2xl border-teal-400 border-2 w-36 h-12  bg-teal-400 hover:shadow-lg"
            >
              SEND
            </button>
          </form>
        </div>
      </div>
    </section>
    <footer
      class="flex justify-between px-2 bg-gray-800 h-16 text-gray-100 text-sm items-center lg:px-48"
    >
      <p class="hidden md:inline">
        Made with
        <i class="fa fa-heart text-red-400" aria-hidden="true"></i> by IceSofty
      </p>
      <div class="logos self-center">
        <i class="fa fa-facebook px-2 fa-lg" aria-hidden="true"></i>
        <i class="fa fa-twitter px-2 fa-lg" aria-hidden="true"></i>
        <i class="fa fa-github px-2 fa-lg" aria-hidden="true"></i>
      </div>
      <p>
        <i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2020 Your
        Company
      </p>
    </footer>
    <script src="./assets/js/star.js"></script>
    <script>
      //refresh page on browser resize
      $(window).bind('resize', function(e) {
        if (window.RT) clearTimeout(window.RT);
        window.RT = setTimeout(function() {
          this.location.reload(false); /* false to get page from cache */
        }, 200);
      });
    </script>
  </body>
</html>
